<!doctype html>
<html lang="zh">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/fontawesome.css">
    <link rel="stylesheet" href="static/css/brands.css">
    <link rel="stylesheet" href="static/css/solid.css">
    <link rel="stylesheet" href="static/css/bootstrap-table.min.css">
    <script src="static/js/jquery-3.4.1.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/bootstrap-table.min.js"></script>
    <!--<script src="static/js/popper.min.js"></script-->

    <title>SAP Leonardo Machine Learning API Demo</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <img src="static/images/sap-logo-svg.png"  alt="">
      </a>
    </nav>

    <div class="container mt-4">
            {% block content %}{% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>
